---
# -----------------------------------------------------------------------------
# For general configuration options see the exemplary
# eidaws_federator_config.yml.example template configuration file.
#
# -----------------------------------------------------------------------------
# Additional configuration options for the eida-federator-dataselect-miniseed
# application which does implement HTTP 413 (Request too large) response
# handling i.e. splitting and aligning facilities.
#
# ----
# Absolute path to a temporary directory where buffers are stored.
# Allowed values: None or absolute path
# Default: None
#
# tempdir:
#
# ----
# Data is buffered using an approach based on spooled temporary files
# (https://docs.python.org/3/library/tempfile.html#tempfile.SpooledTemporaryFile).
# The 'buffer-rollover-size' configuration parameter (in bytes) defines
# when data is buffered on disk. If 0, data is never buffered on disk.
# Default: 0
#
# buffer-rollover-size: 0
#
# ----
# Splitting factor when performing splitting and aligning for large
# requests.
# Default: 2
#
# splitting-factor: 2
#
#
# -----------------------------------------------------------------------------
# Additional configuration options for the eida-federator-dataselect-miniseed
# implementation.
#
# ----
# Fallback miniseed record size in bytes in case blockette 1000 was not
# found. The miniseed data is considered as invalid if the configuration
# parameter is set to 0. Valid values are a multiple of 64 bytes.
# Default: 0
#
# fallback-miniseed-record-size: 0
#
...
