---
# eida-crawl-fdsnws-station configuration
#
# When parsing configuration from the configuration files the following files
# are taken into account (bottom-up precedence):
#
#
# - /etc/eidaws/eidaws_config.yml
# - /etc/eidaws/eidaws_crawl_config.yml
# - /etc/eidaws/eidaws_crawl_station_config.yml
# - ~/.eidaws/eidaws_config.yml
# - ~/.eidaws/eidaws_crawl_config.yml
# - ~/.eidaws/eidaws_crawl_station_config.yml
#
# Besides, configuration options given on the application's CLI override
# options specified within configuration files.
#
# Note, that environment variables are interpolated while parsing the
# configuration file. The syntax is similar to the one provided within
# docker-compose.yml configuration files. See also:
# https://docs.docker.com/compose/compose-file/#variable-substitution
#
# -----------------------------------------------------------------------------
# eidaws-stationlite routing URL
#
# routing-url: http://localhost:8089
#
# ----
# eidaws-federator URL
#
# federator-url: http://localhost:80
#
# ----
# Defines whether to crawl epochs fully split i.e. as defined by
# fdsnws-station, too. By default only merged epochs are crawled.
#
# original-epochs: False
#
# ----
# Restrict crawling to the domains specified. By default all domains are
# crawled.
#
# domain:
#   # ODC
#   - www.orfeus-eu.org
#   # GFZ
#   - geofon.gfz-potsdam.de
#   # RESIF
#   - ws.resif.fr
#   # INGV
#   - webservices.ingv.it
#   # ETHZ
#   - eida.ethz.ch
#   # BGR
#   - eida.bgr.de
#   # NIEP
#   - eida-routing.infp.ro
#   # KOERI
#   - eida.koeri.boun.edu.tr
#   # LMU
#   - erde.geophysik.uni-muenchen.de
#   # NOA
#   - eida.gein.noa.gr
#   # UIB
#   - eida.geo.uib.no
#   # ICGC
#   - ws.icgc.cat
#
# ----
# Restrict crawling to the network codes specified. By default all network
# codes are crawled. Allows FDSNWS wildcard characters to be specified.
#
# network:
#   - CH
#   - C4
#
# ----
# Restrict crawling to the station codes specified. By default all station
# codes are crawled. Allows FDSNWS wildcard characters to be specified.
#
# station:
#   - HASLI
#   - GRIMS
#   - BALST
#
# ----
# Restrict crawling to the location codes specified. By default all location
# codes are crawled. Allows FDSNWS wildcard characters to be specified.
#
# location:
#   - 00
#   - 01
#
# ----
# Restrict crawling to the location codes specified. By default all channel
# codes are crawled. Allows FDSNWS wildcard characters to be specified.
#
# channel:
#   - BH?
#   - HHZ
#
# ----
# Restrict crawling to the fdsnws-station formats specified. By default all
# formats available are crawled.
#
# format:
#   - text
#   - xml
#
# ----
# Restrict crawling to the fdsnws-station levels specified. By default all
# levels available are crawled.
#
# level:
#   - network
#   - station
#   - channel
#   - response
#
# ----
# Defines the number of concurrently crawling request workers.
#
# worker-pool-size: 10
#
# ----
# Defines the total request timeout in seconds with regards to a single request
# (including connection establishment, request sending and response reading).
#
# timeout: 10
#
# ----
# Absolute path to a process ID locking file in order to prevent from having
# multiple crawling processes running concurrently.
#
# pid-file: "/var/tmp/eida-crawl-fdsnws-station.pid"
#
# ----
# Absolute path to a logging configuration file. The file must follow the format
# defined in
# https://docs.python.org/3/library/logging.config.html#logging-config-fileformat.
#
# logging-conf: ${HOME}/work/projects/eidaws/eidaws.federator/config/logging.conf
#
...
