---
# General eida-federator-[resource]-[format] application configuration file
# where resource is one of:
#
#   - availability
#     with formats:
#       - geocsv
#       - json
#       - request
#       - text
#
#   - dataselect
#     with formats:
#       - miniseed
#
#   - station
#     with formats:
#       - text
#       - xml
#
#   - wfcatalog
#     with formats:
#       - json
#
# When loading and merging the application the following configuration files
# are taken into account (bottom-up priority):
#
# - /etc/eidaws/eidaws_config.yml
# - /etc/eidaws/eidaws_federator_config.yml
# - /etc/eidaws/eidaws_federator_resource_config.yml
# - /etc/eidaws/eidaws_federator_resource_format_config.yml
# - ~/.eidaws/eidaws_config.yml
# - ~/.eidaws/eidaws_federator_config.yml
# - ~/.eidaws/eidaws_federator_resource_config.yml
# - ~/.eidaws/eidaws_federator_resource_format_config.yml
#
# Passing options by means of the application's CLI overrides the corresponding
# configuration options given in configuration files.
#
# Note also that within configuration files environment variables are
# interpolated. The syntax supported is similar to the one available within
# docker-compose.yml configuration files. See also:
# https://docs.docker.com/compose/compose-file/#variable-substitution
#
# -----------------------------------------------------------------------------
# General configuration options for all resource implementations. The
# parameters defined within this configuration section can be overridden
# within the resource specific configuration section.
# 
# ----
# TCP/IP hostname to serve on.
# Default: localhost
#
# hostname: 'localhost'
#
# ----
# TCP/IP port to serve on.
# Default: 8080
#
# port: 8080
#
# ----
# Unix file system path to serve on. Specifying "unix-path" will cause
# hostname and port arguments to be ignored.
# Default: None
#
# unix-path:
#
# ----
# Task worker pool size. If None, the processor's pool_size is determined based
# on the 'endpoint-connection-limit' configuration parameter (see below).
# Default: None or int
#
# worker-pool-size:
#
# ----
# Proxy network location in case eidaws-federator is used coupled with e.g.
# an HTTP caching proxy.
# Allowed values: None or IPv4(:PORT) or Hostname(:PORT)
#
# proxy-netloc:
#
# ----
# Serve static files (i.e. version and application.wadl). For development
# purposes, only. In general, it is much better to handle static files by
# means of a Reverse Proxy.
# Default: False
#
# serve-static: False
#
# ----
# Streaming timeout in seconds before the first endpoint request must
# return with data. If the timeout passed without returing any data a HTTP
# 413 (Request too large) response is returned.
# Default: 600
#
# streaming-timeout: 600
#
# ----
# Maximum body size in bytes of POST requests. If the limit is exceeded a
# HTTP 413 (Request too large) response is returned.
# Default: 1024 ** 2
#
# client-maxsize: 1048576
#
# ----
# Maximum per stream epoch duration in days before returning a HTTP 413
# (Request too large) response.
# Allowed values: None or int (days)
# Default: None
#
# max-stream-epoch-duration:
#
# ----
# Maximum total stream epoch duration in days before returning a HTTP 413
# (Request too large) response.
# Allowed values: None or int (days)
# Default: None
#
# max-stream-epoch-duration-total:
#
# ----
# Absolute path to a logging configuration file. The file must follow the format
# defined in
# https://docs.python.org/3/library/logging.config.html#logging-config-fileformat.
# Default: None
#
# logging-conf: ~/work/projects/eidaws/config/logging.conf
#
# ----
# Routing specific configuration options
# ----
# eidaws-stationlite routing URL
# Default: 'http://localhost/eidaws/routing/1/query'
#
# routing-url: 'http://eida-federator.ethz.ch/eidaws/routing/1/query'
#
# ----
# Maximum number of concurrent HTTP connections when connecting to
# eidaws-stationlite
# Allowed values: int
# Default: 100
#
# routing-connection-limit: 25
#

# ----
# Endpoint specific configuration options
# ----
# Consider the X-Forwarded-For HTTP header field and set the header field
# accordingly when performing endpoint requests. This is particularly
# useful if the service is deployed behind a reverse-proxy and passing the
# remote IP address is desired.
# If set to 0 (default) the X-Forwarded-For header field is not set.
#
# forwarded: 0
#
# ----
# Request method used when performing endpoint requests.
# Allowed values: 'GET' or 'POST'
# Default: 'GET'
#
# endpoint-request-method: 'GET'
#
# ----
# Overall maximum number of concurrent HTTP connections with respect to
# federated endpoints.
# Allowed values: int
# Default: 120; Note(damb): # EIDA datacenters is currently 12
#
# endpoint-connection-limit: 120
#
# ----
# Maximum number of concurrent HTTP connections per host with respect to
# federated endpoints.
# Allowed values: int
# Default: 10
#
# endpoint-connection-limit-per-host: 10
#
# ----
# Total timeout for acquiring a connection from pool. The time consists
# connection establishment for a new connection or waiting for a free
# connection from a pool if pool connection limits are exceeded.
# Allowed values: None or float (seconds)
# Default: None
#
# endpoint-timeout-connect:
#
# ----
# A timeout for connecting to a peer for a new connection.
# Allowed values: None or float (seconds)
# Default: 2
#
# endpoint-timeout-socket-connect: 2
#
# ----
# A timeout for reading a portion of data from a peer.
# Allowed values: None or float (seconds)
# Default: 30
#
# endpoint-timeout-socket-read: 30

# ----
# Retry-budget related configuration options
# ----
# Redis related configuration
# Absolute URL to Redis server.
# Default: 'redis://localhost:6379
#
# redis-url: 'redis://localhost:6379'
#
# Minimum size of the connection pool
# Default: 1
#
# redis-pool-minsize: 1
#
# Maximum size of the connection pool
# Default: 10
#
# redis-pool-maxsize: 10
#
# Timeout for connections
# Allowed values: None or int
# Default: None
#
# redis-pool-timeout:
#
# ----
# Threshold in percent before endpoint requests are being dropped.
# Default: 1.0
#
# retry-budget-threshold: 1.0
#
# ----
# TTL in seconds for response codes when performing statistics. If 0, the
# TTL is disabled.
# Default: 3600
#
# retry-budget-ttl: 1800
#
# ----
# Rolling window size with respect to response code time series.
# Default: 10000
#
# retry-budget-window-size: 4096

# ----
# Cache specific configuration options
# ----
# Cache configuration. Cache keys are computed based on request parameters
# (including stream epochs). The cache can be configured with different
# caching backends:
#
#   * cache_type: 'null'
#   * cache_type: 'redis'
#
# If None, both response buffering and caching is disabled.
# Default: None
#
# cache-config:
#
# ---
# Exemplary NullCache configuration (i.e. enabled response buffering, no
# caching; e.g. for testing purposes):
#
# cache-config:
#   cache_type: 'null'
#
# ---
# Exemplary Redis configuration:
#
# cache-config:
#   cache_type: 'redis'
#   
#   Redis cache related configuration options
#
#   cache_kwargs:
#
# --
#     Absolute URL to Redis server. Required.
#
#     url: 'redis://localhost:6379'
#
# --
#     Cache timeout in seconds. A timeout of 0 indicates that the cache
#     never expires.
#
#     default_timeout: 300
#
# --
#     Compress cached data.
#     Allowed values: boolean
#     Default: True
#
#     compress:
# --
#     Minimum size of the Redis connection pool.
#
#     minsize: 1
#
# --
#     Maximum size of the Redis connection pool.
#
#     maxsize: 10
#
...
