---
# eidaws.stationlite.harvest configuration
#
# Note, that environment varibles are interpolated while parsing the
# configuration file. The syntax is similar to the one provided within
# docker-compose.yml configuration files. See also:
# https://docs.docker.com/compose/compose-file/#variable-substitution
#
# -----------------------------------------------------------------------------
# List of URLs to eidaws-routing localconfig configurations to be harvested.
#
# urls-localconfig:
#   # ODC
#   - http://www.orfeus-eu.org/eidaws/routing/1/localconfig
#   # GFZ
#   - http://geofon.gfz-potsdam.de/eidaws/routing/1/localconfig
#   # RESIF
#   - http://ws.resif.fr/eida_routing.xml
#   # INGV
#   - http://webservices.ingv.it/eidaws/routing/1/localconfig
#   # ETHZ
#   - http://eida.ethz.ch/eidaws/routing/1/localconfig
#   # BGR
#   - http://eida.bgr.de/eidaws/routing/1/localconfig
#   # NIEP
#   - http://eida-routing.infp.ro/eidaws/routing/1/localconfig
#   # KOERI
#   - http://eida.koeri.boun.edu.tr/eidaws/routing/1/localconfig
#   # LMU
#   - http://erde.geophysik.uni-muenchen.de/eidaws/routing/1/localconfig
#   # NOA
#   - http://eida.gein.noa.gr/eidaws/routing/1/localconfig
#   # UIB
#   - http://eida.geo.uib.no/eidaws/routing.xml
#   # ICGC
#   - http://ws.icgc.cat/eidaws/routing/1/localconfig
#
# ----
# List of service resources being harvested.
#
# services:
#   - availability
#   - dataselect
#   - station
#   - wfcatalog
#
# ----
# Perform a strict validaation of channel epochs to use the correct
# dataselect method token depending on their restricted status. By default
# method tokens are adjusted automatically.
#
# strict-restricted: True
#
# ----
# Do not harvest <route></route> information from localconfig configuration
# files.
#
# no-routes: False
#
# ----
# Do not harvest <vnetwork></vnetwork> information from localconfig
# configuration files.
#
# no-vnetworks: False
#
# ----
# Delete outdated information from the DB which is older than the datetime
# configured. The datetime configured must match the ISO8601 specification.
#
# truncate: "2020-01-01"
#
# ----
# DB URL indicating the database dialect and connection arguments. For
# further details see also:
# https://docs.sqlalchemy.org/en/13/core/engines.html#database-urls
#
# database: postgres://${POSTGRES_USER:-user}:${POSTGRES_PASSWORD:-pass}@localhost:5432/stationlite
#
# ----
# Absolute path to a process ID locking file in order to prevent from having
# multiple harvesting processes running concurrently.
#
# pid-file: "/var/tmp/eida-stationlite-harvest.pid"
#
# ----
# Absolute path to a logging configuration file. The file must follow the format
# defined in
# https://docs.python.org/3/library/logging.config.html#logging-config-fileformat.
#
# logging-conf: ${HOME}/work/projects/eidaws/eidaws.stationlite/config/logging.conf
#
...
