---
# eidaws.stationlite configuration section
# Note, that environment varibles are substituted within this configuration
# section. The syntax is similar to the one provided within docker-compose.yml
# configuration files. See also:
# https://docs.docker.com/compose/compose-file/#variable-substitution
eidaws.stationlite:

  # Flask specific configuration variables. For further information see:
  # https://flask.palletsprojects.com/en/1.1.x/config/#builtin-configuration-values
  ENV: 'production'
  DEBUG: False
  # Must be True in order to enable fully FDSNWS conform error messages.
  PROPAGATE_EXCEPTIONS: True

  # Flask-SQLAlchemy specific configuration variables. For further details see:
  # https://flask-sqlalchemy.palletsprojects.com/en/2.x/config/
  SQLALCHEMY_DATABASE_URI: postgres://${POSTGRES_USER:-user}:${POSTGRES_PASSWORD:-pass}@localhost:5432/stationlite
  SQLALCHEMY_ENGINE_OPTIONS:
    pool_size: 5
  SQLALCHEMY_TRACK_NOTIFICATIONS: False

  # Absolute path to a logging configuration file. The file must follow the format
  # defined in
  # https://docs.python.org/3/library/logging.config.html#logging-config-fileformat.

  PATH_LOGGING_CONF: /home/damb/work/projects/eidaws/eidaws.stationlite/config/logging.conf
...
