<?xml version="1.0" encoding="UTF-8"?><FDSNStationXML xmlns="http://www.fdsn.org/xml/station/1" schemaVersion="1.1"><Source>SeisComP3</Source><Sender>ODC</Sender><Created>2020-03-26T14:15:42.23005</Created><Network code="NL" startDate="1993-01-01T00:00:00" restrictedStatus="open"><Description>Netherlands Seismic and Acoustic Network</Description></Network></FDSNStationXML>
